---
import { getCollection } from "astro:content";
import MainLayout from "../../../layouts/MainLayout.astro";
import ArticleCard from "../../../components/ArticleCard.astro";
import SearchForm from "../../../components/SearchForm.astro";

const query = Astro.url.searchParams.get("query");

const collection = await getCollection("blog");

const filteredByQuery = collection.filter((article) => {
   if(query && article.body.toLocaleLowerCase().includes(query)){
      return true;
   }else if(query && article.data.title.toLocaleLowerCase().includes(query)) {
      return true;
   }else if(query && article.data.slug.toLocaleLowerCase().includes(query)) {
      return true;
   } else{
      return false;
   }
});

console.log('filteredByQuery', filteredByQuery);

---

<MainLayout>
  <a href="/articles" class="inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white">Back To Articles</a>
  <SearchForm />
  {!filteredByQuery.length ? <h1>No articles with the tag of '{query}'</h1> :<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {filteredByQuery.map((article) => {
      return (
        <ArticleCard article={article} />
      )
    })}
    </div>}
</MainLayout>