---
import MainLayout from "../layouts/MainLayout.astro"
---


<MainLayout>
  <div class="w-full h-96 flex flex-col justify-center items-center gap-3">

    <h1 class="text-red-600 text-3xl">Could not find page</h1>
    <iframe src="https://giphy.com/embed/6uGhT1O4sxpi8" width="480" height="240" class="giphy-embed" ></iframe>
    <a class="underline text-blue-400 hover:text-blue-600 text-xl" href="/">&larr; Back to home</a>
  </div>
</MainLayout>